.review {
    min-height: 928px;
    padding: 70px 50px 50px 50px;
    &-item {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        &__img {
            width: 170px;
            height: 178px;
        }
        &__text {
            width: 718px;
            h2 {
                color: rgb(13, 13, 13);
                font-size: 18px;
                font-weight: 700;
                line-height: 18px;
                letter-spacing: 0px;
                text-align: left;
            }
            p {
                color: rgb(100, 100, 100);
                font-size: 14px;
                font-weight: 500;
                line-height: 22px;
                letter-spacing: 0px;
                text-align: left;
            }
            span {
                display: inline-block;
                color: rgb(13, 13, 13);
                font-size: 16px;
                font-weight: 300;
                line-height: 24px;
                letter-spacing: 0px;
                text-align: left;
                margin-top: 50px;

            }
        }
    }
}